.main_catalog_container {
  background-color: var(--gray-100);
  width: 100%;
  min-height: 110vh;

  display: flex;
  flex-direction: column;

  position: relative; 
}

.main_catalog_container_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 378px;
  background: var(--gray-200);
  z-index: 0;
}
.main_container {
  padding: 48px 0;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 100%;
  flex: 1;
  height: auto;
}
