.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96px;
  width: 100%;
  border-bottom: 1px solid var(--gray-300);
  z-index: 1;
  position: relative;
}

.header_container .inner_header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 24px;
  height: 96px;
  width: 100%;
  max-width: 1200px;
  border-bottom: 1px solid var(--gray-300);
  z-index: 1;
  position: relative;
}
