.container_right_single_film {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 92px;
}

.header_right_single_film {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.header_right_single_film h1 {
  color: var(--white);
}

.header_right_single_film span {
  color: var(--gray-500);
}

.container_badges_categories {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.container_badges_categories .badge_category {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  border: solid 1px var(--gray-300);
  border-radius: 100px;
  color: #fff;
}

.infos_right_single_film {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.box_info_film {
  display: flex;
  flex-direction: column;
}

.box_info_film span:nth-child(1) {
  border-bottom: solid 1px var(--gray-300);
  padding-bottom: 6px;
  margin-bottom: 14px !important;
}

.grid_infos_right_single_film {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.link_trailer_single_film {
  width: 100%;
  height: 56px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-100);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: none;
}

.infos_right_mobile_links_single_film {
  display: none;
  position: relative;
  z-index: 3;
}

@media (min-width: 1000px) {
  .infos_right_mobile_links_single_film {
    display: none;
  }
}

@media (max-width: 1000px) {
  .container_right_single_film {
    gap: 48px;
    margin-top: -64px;
    padding: 0 24px;
  }

  .grid_infos_right_single_film {
    display: flex;
    flex-direction: column;
  }

  .infos_right_mobile_links_single_film {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
