.lr_link_secondary {
  border: solid 2px var(--white);
  border-radius: 4px;
  padding: 24px 48px;
  cursor: pointer;
  height: 74px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--white);
  text-decoration: none;
}

.lr_link_secondary:hover {
  opacity: 0.4;
}
