.main_auth_container {
  background-color: var(--gray-100);
  width: 100%;
  height: 100vh;
}

.main_container {
  padding: 48px 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .main_auth_container {
    background-color: var(--gray-200);
  }
}
